@inject SpinnerService spinner
@inject IToastService toastr
@inject ContactService contactService

<div>
    <EditForm Model="@_contact" OnValidSubmit="@Submit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="row">
            <div classs="col-6 form-group">
                <label>Name</label>
                <InputText class="form-control" @bind-Value="_contact.Name" />
            </div>
            <div classs="col-6 form-group">
                <label>Surname</label>
                <InputText class="form-control" @bind-Value="_contact.Surname" />
            </div>
        </div>
        <div class="row">
            <div classs="col-6 form-group">
                <label>Email Address</label>
                <InputText class="form-control" @bind-Value="_contact.EmailAddress" />
            </div>
        </div>
        <div class="mt-4 mb-3">
            <button type="submit" class="btn btn-primary" >Submit</button>
        </div>
    </EditForm>
</div>


@code {

    Contact _contact = new Contact();


    private async void Submit()
    {
        try
        {
            spinner.Show();
            if (_contact.ContactId <= 0)
            {
                ResponseModel<Contact>? contact = await contactService.SaveContact(_contact);
                if (!contact?.Success ?? true)
                {
                    spinner.Hide();
                    toastr.ShowError(contact?.Message ?? "Something went wrong");
                    return;
                }

                _contact = contact?.Content ?? new Contact();
                spinner.Hide();

                toastr.ShowSuccess("Contact saved sucessfully");
            }
            else
            {
                var _result = await contactService.UpdateContact(_contact);
                if (!_result?.Success ?? true)
                {
                    spinner.Hide();
                    toastr.ShowError(_result?.Message ?? "Something went wrong");
                    return;
                }

                spinner.Hide();

                toastr.ShowSuccess("Contact updated sucessfully");
            }

        }
        catch (Exception)
        {
            spinner.Hide();
            toastr.ShowError("Error occured on saving.Please try again");
        }
    }

}

